.container{
    display: flex;
    flex:1;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    width: 25.6rem;
    height: 29.4rem;
}

.cover {
    width: 100%;
    height: 7.2rem;
    object-fit: cover
}