.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
}
.title {
  color: #fff;
  font-size: 3rem;
}
.controles {
  color: #321cf1;
  margin-left: 4rem;
  font-size: 2rem;
}
.contatos {
  flex-direction: column;
  margin-left: 20rem;
  background-color: #14226e8c;
  border-radius: 5 ;
}
.headerContatos {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 1rem;

}
.buttons {
  margin-top: 1rem;
  margin-left: 5rem;
}
.buttom {
  height: 3.4rem;
  width:  3.4rem;
  align-items: center;
   background-color: #14226e8c;
   color: #fff;
   border-width: 0.1rem;
   border-color: #0b33e6;
   margin-left: 1rem;
   border-radius: 5px;
   font-size: 1.7rem;
   padding-top: 0.3rem;
   
}
.buttom:hover{
  box-shadow: 1px 2px 9px #0044ff;
}
.pesquisa {
  align-items: center;
  margin-bottom: 1.5rem;
}
.buttomPesquisa {
  background-color: #1432dd93;
  height: 3.3rem;
  width: 5rem;
  border-width: 0.1rem;
  border-color: #0b33e6;
   color: #fff;
   font-size: 1.5rem;
   box-shadow: 1px 2px 5px  #0044ffa4;
   
}
.inputPesquisa {
background-color: #1432dd93;
height: 3.5rem;
width: 31rem;
border-width: 0.1rem;
border-color: #0044ff;
   font-size: medium;
   color: #fff;
   box-shadow: 1px 2px 5px #0044ffa4;

}
.listaContatos {
  background-color: var(--color-bg-dark);
  padding: 1rem;
  
}